html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  align-content: center;
  margin: 20px;
  background-color: grey;
}

h1 {
  font-family: helvetica, sans-serif;
  font-size: 40px;
}

#todoBox {
  font-family: 'Special Elite', cursive;
  border-radius: 25px;
  background-color: black;
  border: 0px solid;
  width: 500px;
  color: #32cd32;
  font-size: 30px;
  padding: 30px;
  display: block;
  box-shadow: 5px 5px 2px darkgrey;
}

input {
  background-color: transparent;
  border: 0px solid;
  height: 100px;
  width: 500px;
  color: #32cd32;
  font-size: 30px;
  padding-left: 30px;
  font-family: 'Special Elite', cursive;
}

.todobox {
  height: 100px;
  width: 510px;
  background-color: black;
  border-radius: 25px;
  display: block;
  box-shadow: 5px 5px 2px darkgrey;
  padding-left: 30px;
}

textarea:focus, input:focus{
    outline: none;
}

.completeToDo {
  color: red;
  text-decoration: line-through;
}

.incomplete {
  color: red;
}

button{
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    /*display: block;*/
    font-family: arial;
    font-weight: bold;
    color:#7f7f7f;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    border:1px solid #a7a7a7;
    width: 145px;
    margin:0px auto;
    margin-top:30px;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;
}
button i{
    float: right;
    margin-top: 2px;
}
button:hover{
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
button:active{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}
